/* App.css */

.app {
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar {
  background-color: #4caf50;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.navbar h1 {
  color: white;
  margin: 0;
}

.main {
  margin-top: 70px; /* Add margin to avoid overlap with fixed navbar */
}

.instructions {
  margin: 20px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.instructions h2 {
  color: #4caf50;
}

.instructions ol {
  text-align: left;
  padding-left: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.file-input {
  margin-bottom: 20px;
}

.upload-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.upload-button:hover {
  background-color: #45a049;
}
